@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap');

.quote-text h2{
    align-self: center;
    font-family: "Petit Formal Script";
    font-size: 18px;
    letter-spacing: 3px;
    padding-top: 8%;
    padding-left: 12%;
    color: rgb(226, 221, 221);
}