body {
  /* background-color: #1a1a1a;
  background: radial-gradient(circle at center, #1a1546, #040411 40%); */
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* height: 100vh; */
  /* width: 100%; */
  /* perspective: 1000px; */
}

.authentication__header {
  color: white;
  text-align: center;
}

.authentication {
  width: 90%;
  max-width: 25rem;
  margin: 7rem auto;
  text-align: center;
}

.authentication form {
  margin-bottom: 1rem;
}

.authentication h2 {
  font-family: Raleway;
  font-weight: 5200;
}
